<h1>Login</h1>
<form>
    <div class="form-group">
        <label for="username">User name</label>
        <input ng-model="login.user.username" type="text" class="form-control" id="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="login.user.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <a ng-click="login.UserLogin()" class="btn btn-primary btn-block">Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>
</form>

